<html>

<head>
<title>Furniture Tool</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="js/app.js"></script>
<script src="js/jquery.ui.rotatable.js"></script>

<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/bootstrap.min.css">

<link rel="stylesheet" href="css/custom.css">


</head>

<body>

  <div ng-app="app" ng-controller="ctrl">
    <div class="container">

      <select ng-model="selected.index" ng-change="displayRoom()">
        <option ng-repeat="layout in layouts track by $index" value="{{$index}}">{{layout.room.name}}</option>
      </select>

      <br>


      <div class="scale" hidden>
        one foot
      </div>
      <br>

      <div class="room" hidden>


      </div>



      <br>
      <br>
    </div>
</div>

</body>

</html>
